{% load static %}
{% load crispy_forms_tags %}


<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'style/main2.css' %}">

    <title>Update Your Profile</title>
  </head>



<div class="container rounded bg-white mt-5 mb-5">
    <form class="row" method="POST" action="{% url 'create_profile' %}">
        {% csrf_token %} 
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{request.user.username|title}}</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
              
                {{form|crispy}}
                
                <div class="mt-5 text-right">
                <button class="btn btn-primary profile-button" type="submit">Save Profile</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </div>
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience">
                    <span class="border px-2 p-1 add-experience"><i class="fa fa-plus"></i>Welcome, {{request.user.username|title}}</span>
                    <span><button class="btn btn-primary profile-button"><a style="text-decoration: none; color: aliceblue "  href="{% url 'log_out' %}">Logout</a></button></span>
                </div><br>
                <div class="d-flex justify-content-between align-items-center experience"></div><br>
               
            </div>
        </div>
    </form>
</div>
</div>
</div>

</html>